*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    font-size: 20px;
}
body{
    background-image: url(../IMAGES/inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 5px 10%;
}

.header .logo img{
    width: 90px;
    height: auto;
    border-radius: 50px;
}

.header .nav{
    list-style: none;
}

.header .nav li{
    display: inline-block;
    padding: 0 20px;
}
.header .nav a{
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header .nav li a:hover{
    color: red;
}

.header .btn button{
    font-weight: 8px;
    color: rgb(255, 255, 255);
    padding: 9px 25px;
    background-color: rgb(95, 12, 12);
    border: 1px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: bisque;
    color:blueviolet;
    transform: scale(1.1);
}

.introduccion{
    background-color: rgba(0, 0, 0, 0.295);
    text-align: center;
    text-justify: auto;
    align-items: end;
    color: aliceblue;
}
h1{
    font-size: 50px;
}



img{
    width: 400px;
    height: auto;
    border-radius: 200px;

}
.contenedor{
    text-align: center;
}
